.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
*/out/
*/src/CabbageBundle
*/src/CabbageBinaries
*/dist/
/dist
*/.vs/
tsconfig.lsif.json
/src/CabbageBundle
/src/CabbageBinaries
*.lsif
*.db
*.vsix
._*
.secrets
node_modules